<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
  	<servlet-name>userServlet</servlet-name>
  	<servlet-class>br.com.wmoreira.gwtexample.server.service.UserServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>groupServlet</servlet-name>
  	<servlet-class>br.com.wmoreira.gwtexample.server.service.GroupServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/App/user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>groupServlet</servlet-name>
    <url-pattern>/App/group</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>App.html</welcome-file>
  </welcome-file-list>

</web-app>
